

        h2,h3{
            color : blue;
        }
        .val{
            color : darkslategrey;
        }
        #ind{
            color : darkcyan;
        }
        .name{
            color  :goldenrod
        }
